@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* side bar styling */
.sidebar{
    overflow: hidden;
    position: fixed;
    left: 0;
    width: 280px;
    height: 100%;
    background: #042331;
}
/* sidebar header */
.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
/* side bar list */
.sidebar ul a{
    list-style: none;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 30px;
    box-sizing: border-box;
    border-top: 2px solid rgba(255, 255, 255, .1);
    border-bottom: 2px solid black;
}
/* sidebar icons */
.sidebar ul a i{
    margin-right: 16px;
}
/* hover color change of list tile */
.sidebar ul li:hover{
    background: #0e6e9e;
}
/* drop down icon */
.fas.fa-caret-down{
    transform: translateX(50px);
}
/* logout icon */
.fas.fa-caret-square-left {
    transform: scale(1.1);
    color: white;
}

.collection-dropdown {
    display: none;
}
/* dropdown display*/
.collections:hover .collection-dropdown{
    transition: 0.4s;
    display: block;
    background-color: #063146;
}
/* styling of dropdown */
.collection-dropdown li a{
    font-size: 15px;
}
/* dropdown hover */
.collection-dropdown li:hover{
    transition: 0.4s;
    padding-left: 18px;
}


/* alert warning */
.alert{
    background: #fdfafb;
    padding: 20px 40px;
    min-width: 400px;
    position: absolute;
    right: 5px;
    top: 15px;
    overflow: hidden;
    border-radius: 5px;
    border-left: 12px solid #0c0d32;
    opacity: 0;
    pointer-events: none;
}

/* animation of alert warning */
.alert.show{   
    opacity: 1; 
    pointer-events: auto;
    animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}
.alert.hide {
    opacity: 1;
    animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
    0%{
        transform: translateX(-10px);
    }
    40%{
        transform: translateX(0%);
    }
    80%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(105%);
    }
}

.alert .fa-exclamation-circle{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #222020;
    font-size: 37px;
}
.alert .msg{
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.alert .close-btn{
    position: absolute;;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #c01e1e;
    cursor: pointer;
}
.close-btn:hover{
    background: #e84646;
}
.close-btn .fa-times{
    color: #222020;
    font-size: 37px;
    transform: translate(7px, 32px);
    height: 100px;
    width: 40px;
}